body {
    background-color: black;
    color: white;
}

.mlogo {
    width: 500px;
}
a, a:visited {
    color: white;
    text-decoration: none;
}

li a:hover {
    font-weight: bold;
    text-shadow: 0 0 50px white;
}

h1 {
    text-align:center;

}



.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
li {
  float: left;
  width:25%;
  text-align:center;
  text-decoration: none;
  font-size: 24px;
}

ul {
    list-style-type: none;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 0px;
}


.loginform input{
    height: 30px;
    padding: 0px;
    margin: 0px;
    outline: none;
    border: 0px;
    width: 35%;
    float: left;
    background-color: #343434;
    color: white;
    margin-right: 3%;
    padding-left: 2%;
}
.loginform button{
    padding: 0px;
    margin: 0px;
    outline: none;
    border: 0px;
    width: 20%;
    float: left;
    height: 30px;
    background-color: #343434;
    color: white;
}

.registerform {
    width: 500px;
}
.registerform input{
    height: 30px;
    padding: 0px;
    margin: 0px;
    outline: none;
    border: 0px;
    width: 46.5%;
    float: left;
    background-color: #343434;
    color: white;
    margin-right: 3%;
    padding-left: 2%;
    margin-bottom: 15px;
}
.registerform input:nth-child(even) {
  margin-right: 0%;

}
.registerform button{
    padding: 0px;
    margin: 0px;
    outline: none;
    border: 0px;
    width: 20%;
    float: left;
    height: 30px;
    background-color: #343434;
    color: white;
}

form {
    padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {


form {
    padding-bottom: 120px;
}

.mlogo {
    width:100vw;
}

.loginform input{
    margin-left:5%;
    margin-right: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    width: 40.5%;
    margin-bottom: 5px;
    height: 50px;
}
.loginform input:nth-child(even) {
    margin-left: 0.5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;

}
.loginform button{
    margin-left:5%;
    padding-left: 2%;
    padding-right: 2%;
    width: 90%;
    margin-bottom: 5px;
    height: 50px;

}
.registerform {
    width: 100%;
}
.registerform input{
    margin-left:5%;
    padding-left: 2%;
    padding-right: 2%;
    width: 86%;
    margin-bottom: 5px;
    height: 50px;

}
.registerform button{
    margin-left:5%;
    padding-left: 2%;
    padding-right: 2%;
    width: 90%;
    margin-bottom: 5px;
    height: 50px;
}
.textstuff {
    padding-left: 5%;
    padding-right: 5%;
}



}
